<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Thêm danh mục</title>
  <th:block th:replace="~{layout :: head}"></th:block>
</head>
<body class="bg-warning-subtle">
<th:block th:replace="~{layout :: navbar}"></th:block>
<div class="shadow w-75 mx-auto mt-5 p-5 rounded-3 bg-light-subtle">
  <form action="/categories/save" method="post" th:object="${category}">
    <div class="mb-3">
      <label for="name" class="form-label">Tên danh mục:</label>
      <input type="text" class="form-control" id="name" th:field="*{name}">
    </div>
    <div class="d-flex justify-content-end">
      <a href="/categories/list" class="btn btn-danger me-3">Hủy bỏ</a>
      <button type="submit" class="btn btn-primary">Lưu</button>
    </div>
  </form>
</div>
</body>
</html>