<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chỉnh sửa Blog</title>
    <th:block th:replace="~{common/template::linkBootstrap}"></th:block>
</head>
<body>
<nav th:replace="~{common/template::navbar}"></nav>
<div class="container">
    <form th:action="@{/blog/update/{id}(id=${blog.id})}" th:method="post" th:object="${blog}">
        <div class="mb-3">
            <label for="name" class="form-label">Tên Blog</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required/>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Tác giả</label>
            <input type="text" class="form-control" id="author" th:field="*{author}" required/>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Tiêu đề</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="category">Thể loại</label>
            <select id="category" class="form-select" th:field="*{category}" required>
                <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Nội dung</label>
            <textarea class="form-control" id="content" th:field="*{content}" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/function.js"></script>
</body>
</html>