<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <th:block th:replace="~{layout/admin :: head}"></th:block>
  <title>Quản lý sách</title>
  <!-- Thêm Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="~{layout/admin :: navbar}"></th:block>

<div class="container mt-5">
  <div class="row mb-3">
    <div class="col">
      <h2 class="text-center">Danh sách mượn sách</h2>
    </div>
  </div>

  <!-- Bảng với Bootstrap -->
  <div class="table-responsive">
    <table class="table table-hover table-bordered border-dark align-middle">
      <thead class="table-dark">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Code mượn sách</th>
        <th scope="col">Tên người mượn</th>
        <th scope="col">Tên sách</th>
        <th scope="col">Tên tác giả</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="borrow : ${borrows}">
        <th scope="row" th:text="${borrow.id}"></th>
        <td th:text="${borrow.code}"></td>
        <td th:text="${borrow.bookRenter}"></td>
        <td th:text="${borrow.book.title}"></td>
        <td th:text="${borrow.book.author}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Thêm Bootstrap JS -->
<th:block th:replace="layout/library :: footer"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
