<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Blog Detail</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous" async></script>
</head>
<body>
<div class="container">
  <h3>Blog Detail</h3>
  <p>
    <a class="btn btn-primary" th:href="@{/blog}">
      Back to Blog list
    </a>
  </p>
  <div style="font-size: 20px; font-weight: bold">
    <div class="cus-detail">
      <label>Title : </label>
      <label th:text="${blog.title}"></label>
    </div>
    <div class="cus-detail">
      <label>Content : </label>
      <label th:text="${blog.content}"></label>
    </div>
    <div class="cus-detail">
      <label>Author : </label>
      <label th:text="${blog.author}"></label>
    </div>
    <div class="cus-detail">
      <label>Category : </label>
      <label th:text="${blog.category.name}"></label>
    </div>
    <div class="cus-detail">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" rows="10" readonly th:text="${blog.description}"></textarea>
    </div><br>
  </div>
</div>
</body>
</html>